#container{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 40px;
    justify-content: center;
}


*{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#roll{
    text-transform: uppercase;
    background-color: green;
    padding: 10px;
    border-radius: 6px;
    width: 200px;
    cursor: pointer;
    border: none;
}
#placeholder{
    height: 100px;
    width: 100px;
    padding: 80px;
    margin: 50px auto;
    border: 1px solid green;
    border-radius: 10px;
    font-size: 80px;


}

#roll1{
    text-transform: uppercase;
    background-color: green;
    padding: 10px;
    border-radius: 6px;
    width: 200px;
    cursor: pointer;
    border: none;
}
#placeholder1{
    height: 100px;
    width: 100px;
    padding: 80px;
    margin: 50px auto;
    border: 1px solid green;
    border-radius: 10px;
    font-size: 80px;


}

#roll2{
    text-transform: uppercase;
    background-color: green;
    padding: 10px;
    border-radius: 6px;
    width: 200px;
    cursor: pointer;
    border: none;
}
#placeholder2{
    height: 100px;
    width: 100px;
    padding: 80px;
    margin: 50px auto;
    border: 1px solid green;
    border-radius: 10px;
    font-size: 80px;


}